<h1>Stocks Page</h1>
<%= link_to 'Homepage', root_path %>



<div class="relative mb-5">
  <%= form_with(url: stocks_path, method: :get) do |form| %>
    <%= form.label :q, "Search Company", class: 'mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300' %>
    <%= form.text_field :q, placeholder: 'Search Company (SYM)', class: 'block p-4 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    <%= form.submit "Search", class: 'text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
  <% end %>
</div>

<% if @quote.present? %>
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg mb-5">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th class="py-3 px-6">Company</th>
          <th class="py-3 px-6 text-center">Symbol</th>
          <th class="py-3 px-6 text-center">Latest Price</th>
          <th class="py-3 px-6 text-center">Change</th>
          <th class="py-3 px-6"><span class="sr-only">Buy</span></th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="py-3 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= @quote.company_name %></td>
          <td class="py-3 px-6 text-center"><%= @quote.symbol %></td>
          <td class="py-3 px-6 text-center"><%= number_to_currency(@quote.latest_price, precision: 2) %></td>
          <% if @quote.change < 0 %>
            <td class="py-3 px-6 text-red-600 text-center"><%= @quote.change %></td>
          <% else %>
            <td class="py-3 px-6 text-green-600 text-center"><%= @quote.change %></td>
          <% end %>
          <% if @stocks.where(symbol: @quote.symbol).any? %>
            <% @stock = @stocks.where(symbol: @quote.symbol)%>
            <td class="py-3 px-6 text-center"><%= link_to "Buy Shares", buy_stock_path({:stock_id => @stock.ids, :name => @quote.company_name, :symbol => @quote.symbol, :price => @quote.latest_price}), class: 'font-medium text-blue-600 dark:text-blue-500 hover:underline' %></td>
          <% else %>
            <td class="py-3 px-6 text-center">Not Available</td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>

<h1>Trending Stocks</h1>

<div class="overflow-x-auto relative shadow-md sm:rounded-lg mb-5">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th class="py-3 px-6">Company</th>
        <th class="py-3 px-6 text-center">Symbol</th>
        <th class="py-3 px-6 text-center">Latest Price</th>
        <th class="py-3 px-6 text-center">Change</th>
      </tr>
    </thead>
    <tbody>
      <% @client_list.each do |stock| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="py-3 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= stock.company_name %></td>
          <td class="py-3 px-6 text-center"><%= stock.symbol %></td>
          <td class="py-3 px-6 text-center"><%= number_to_currency(stock.latest_price, precision: 2) %></td>
          <% if stock.change < 0 %>
            <td class="py-3 px-6 text-red-600 text-center"><%= stock.change %></td>
          <% else %>
            <td class="py-3 px-6 text-green-600 text-center"><%= stock.change %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<h1>Stocks We Offer</h1>

<div class="overflow-x-auto relative shadow-md sm:rounded-lg mb-5">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th class="py-3 px-6">Company</th>
        <th class="py-3 px-6 text-center">Symbol</th>
        <th class="py-3 px-6 text-center">Latest Price</th>
        <th class="py-3 px-6 text-center">Change</th>
        <th class="py-3 px-6"><span class="sr-only">Buy</span></th>
      </tr>
    </thead>
    <tbody>
      <% @stocks.each do |stock| %>
        <% @api = @client.quote(stock.symbol) %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="py-3 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= stock.name %></td>
          <td class="py-3 px-6 text-center"><%= stock.symbol %></td>
          <td class="py-3 px-6 text-center"><%= number_to_currency(@api.latest_price, precision: 2) %></td>
          <% if @api.change < 0 %>
            <td class="py-3 px-6 text-red-600 text-center"><%= @api.change %></td>
          <% else %>
            <td class="py-3 px-6 text-green-600 text-center"><%= @api.change %></td>
          <% end %>
          <td class="py-3 px-6 text-center"><%= link_to "Buy Shares", buy_stock_path({:stock_id => stock, :name => stock.name, :symbol => stock.symbol, :price => @api.latest_price}), class: 'font-medium text-blue-600 dark:text-blue-500 hover:underline' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>
<%= link_to 'Homepage', root_path %>