<h1>Stocks Page</h1>
<%= link_to 'Homepage', root_path %>

<hr>

<%= form_with(url: stocks_path, method: :get) do |form| %>
  <%= form.label :q, "Search Company" %>
  <%= form.text_field :q %>
  <%= form.submit "Search" %>
<% end %>

<% if @quote.present? %>
  <h3><%= @quote.company_name %>, <%= @quote.symbol %></h3>
  <% if @quote.open.present? %>
    <p>Latest Price: $<%= @quote.latest_price %> | Open: $<%= @quote.open %> | Close: $<%= @quote.close %></p>
  <% else %>
    <p>Latest Price: $<%= @quote.latest_price %> | Open: Market Close | Close: Market Close</p>
  <% end %>

  <% if @stocks.where(symbol: @quote.symbol).any? %>
    <% @stock = @stocks.where(symbol: @quote.symbol)%>
    <%= link_to "Buy Shares", buy_stock_path({:stock_id => @stock.ids, :name => @quote.company_name, :symbol => @quote.symbol, :price => @quote.latest_price}) %>
  <% else %>
    <p>Sorry we don't sell shares of this company, yet.</p>
  <% end %>

<% end %>

<hr>

<h1>Trending Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Symbol</th>
      <th>Latest Price</th>
      <th>Open</th>
      <th>Close</th>
    </tr>
  </thead>
  <tbody>
    <% @client_list.each do |stock| %>
      <tr>
        <td><%= stock.company_name %></td>
        <td><%= stock.symbol %></td>
        <td><%= stock.latest_price %></td>
        <% if stock.open.present? %>
          <td><%= stock.open %></td>
          <td><%= stock.close %></td>
        <% else %>
          <td>Market Close</td>
          <td>Market Close</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h1>Stocks We Offer</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Symbol</th>
      <th>Latest Price</th>
      <th>Open</th>
      <th>Close</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <% @api = @client.quote(stock.symbol) %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.symbol %></td>
        <td><%= @api.latest_price %></td>
        <% if @api.open.present? %>
          <td><%= @api.open %></td>
          <td><%= @api.close %></td>
        <% else %>
          <td>Market Close</td>
          <td>Market Close</td>
        <% end %>
        <td><%= link_to "Buy Shares", buy_stock_path({:stock_id => stock, :name => stock.name, :symbol => stock.symbol, :price => @api.latest_price}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<%= link_to 'Homepage', root_path %>