<h1>New User</h1>

<%= form_with model: User.new, url: admin_create_user_path,  local: true do |f| %>

  <%= f.hidden_field :role, :value => 'trader' %>

  <p>
    <% if @user.errors.any? %>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
          <% end %>
      </ul>
    <% end %>
  </p>
  
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </p>

  

  <p>
    <%= f.submit %>
  </p>
<% end %>