<h1><%= @user.email %> Portfolio</h1>
<%= link_to 'Back to Homepage', root_path  %>

<hr>

<% @unique.each do |transaction| %>
  <h3><%= @stocks.find(transaction.stock_id).name %>, <%= @stocks.find(transaction.stock_id).symbol %></h3>

  <p>Total Shares: <%= transaction.total_quantity %></p>
  <p>Latest Price: <%= @client.quote(@stocks.find(transaction.stock_id).symbol).latest_price %></p>
  <p>Current Value: <%= @client.quote(@stocks.find(transaction.stock_id).symbol).latest_price * transaction.total_quantity %></p>
  <hr>
<% end %>  

<%= link_to 'Back to Homepage', root_path  %>