<h1><%= @user.email %> Transactions</h1>
<%= link_to 'Back to Homepage', root_path  %>

<hr>

<% @transactions.each do |transaction| %>
  <h3><%= @stocks.find(transaction.stock_id).name %>, <%= @stocks.find(transaction.stock_id).symbol %></h3>
  <p>Amount: <%= transaction.amount %></p>
  <p>Quantity: <%= transaction.quantity %></p>
  <p>Date: <%= transaction.created_at %></p>
  <hr>
<% end %>  

<%= link_to 'Back to Homepage', root_path  %>