<div class="w-full flex place-items-center justify-center">
  <div class="w-96">
    <h1 class="w-full text-center">Sell Shares</h1>
    <%= form_with model: [@stock, @transaction], url: update_stock_transaction_path, method: :patch, local: true do |f| %>

      <%= f.hidden_field :price, :value => params[:price] %>
      <%= f.hidden_field :is_active, :value => false %>
      <div>
        <% if @transaction.errors.any?  %>
          <ul>
            <% @transaction.errors..each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="mb-2">
        <%= f.label :name %><br />
        <%= f.text_field :name, :value => params[:name], readonly: true, class: 'w-full border text-white text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500' %>
      </div>

      <div class="mb-2">
        <%= f.label :symbol %><br />
        <%= f.text_field :symbol, :value => params[:symbol], readonly: true, class: 'w-full border text-white text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500' %>
      </div>


      <div class="mb-2">
        <%= f.label :quantity %><br />
        <%= f.text_field :quantity, :value => params[:quantity], readonly: true, class: 'w-full border text-white text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500' %>
      </div>

      <div class="mb-6">
        <%= f.label :amount %><br />
        <%= f.text_field :amount, :value => params[:amount], readonly: true, class: 'w-full border text-white text-sm rounded-lg focus:ring-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500' %>
      </div>

    
      <div class="mb-2">
        <%= f.submit 'Sell', class: 'w-full text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800 hover:cursor-pointer' %>
      </div>
      
    <% end %>
  </div>
</div>

