<h1>Your Positions</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Amount Spent</th>
      <th>Transaction Date</th>
      <th>Current Value</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <% @stock = @stocks.find(transaction.stock_id) %>
      <% @api = @client.quote(@stock.symbol) %>
      <% @current_value = @api.latest_price * transaction.quantity %>
      <tr>
        <td><%= @stock.name %></td>
        <td><%= @stock.symbol %></td>
        <td><%= transaction.quantity %></td>
        <td><%= number_to_currency(transaction.amount, precision: 2) %></td>
        <td><%= transaction.created_at %></td>
        <td><%= number_to_currency(@current_value, precision: 2) %></td>
        <td><%= link_to "Sell Shares", sell_stock_path({:stock_id => @stock, :name => @stock.name, :symbol => @stock.symbol, :price => @api.latest_price, :amount => @api.latest_price * transaction.quantity, :quantity => transaction.quantity}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
